.hero-main {
  background: var(--cor-bg-principal);
  border-bottom: 1px solid var(--cor-borda);
}

.hero {
  display: grid;
  grid-template-columns: minmax(250px, 30%) 1fr;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  gap: 2rem;
  padding: 0 5%;     
  width: 100%;
}

/* imagem */
.hero-image {
  display: flex;
  width: auto;
  height: auto;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

/* texto */
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.hero-intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  line-height: 1,2;
}

h2 {
  font-size: 1.2rem;
  color: var(--cor-detalhe);
  margin-bottom: 1rem;
}

hr {
  width: 100%;
  border: 1px solid var(--cor-fonte-secundaria);
  margin: 1rem auto;
}

.hero-description  {
  width: auto;
  font-size: 20px;
  line-height: 1.6;
  margin: auto;
}
.hero-buttons {
  display: flex;
  width: 100%;
}

.hero-buttons a {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-icon {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
}

.hero-icon:hover {
  transform: scale(1.4);
}

@media (max-width: 992px) {

  .hero {
    grid-template-columns: 1fr; /* vira 1 coluna */
    text-align: center;
    gap: 1rem;
    padding: 1rem;
  }

  .hero-image img {
    width: 300px;
    height: 300px;
  }

  h1 {
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    line-height: 1,2;
  }

  h2 {
    font-size: 20px;
  }

  .hero-description {
    font-size: 20px;
    padding: 0 1rem;
  }

  .hero-icon {
    width: 32px;
    height: 32px;
  }
}